<!DOCTYPE html>
<html>
<head>
  <title>ResponsiveUserAvatar</title>
  <%= stylesheet_link_tag "application" %>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <%= yield %>
  </div>
</body>
</html>
